* {
    margin: 0;
}

header {
    overflow: hidden;
    background-color: #F2F0EF;
    height: 100px;
    width: 100%;

}

.titulo {
    margin-left: 200px;
    margin-top: 15px;
    color: #1a3c2a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;

}

.botões {
    margin-left: 75%;
    margin-top: -35px;

}

a {
    padding: 10px;
    color: #1a3c2a;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    color: #F2F0EF;
    background-color: #6fcf97;
    border-radius: 10px;
}

.quiz {
    border: 2px solid #1a3c2a;
    border-radius: 10px;
    background-color: #1a3c2a;
    color: #F2F0EF;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 500px;
    background: url('https://cdn.discordapp.com/attachments/1495931022725091413/1496291821528285224/photo-1678755721054-1ce58e85196e.jfif?ex=69e959da&is=69e8085a&hm=955cae08ba9fd3a5e4a54adfde64ff322fb555f543c7eab3512c74fbfe2a670e&') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 50, 20, 0.6);
}

.hero-content {
    position: relative;
    max-width: 600px;
}

.tag {
    display: inline-block;
    color: #7ee0b5;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
}

.tag::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #7ee0b5;
    margin-right: 10px;
    vertical-align: middle;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ffffff;
}

.hero p {
    margin: 15px 0;
    line-height: 1.5;
    color: #ffffff;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-green {
    background: #2ecc71;
    color: black;
}

.btn-outline {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.rodape {
    background-color: #1a3c2a;
    display: flex;
    padding: 30px;

}

h3 {
    font-size: 48px;
    color: #6fcf97;
}

.teste {
    font-size: 13px;
    font-family: 'Inter';
    color: #fff;

}

.informacoesderodape {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    width: 800px;
    text-align: center;
}

.sobre h2 {
    color: #1a3c2a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;

}

.tag2 {
    display: inline-block;
    color: #7ee0b5;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.tag2::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #7ee0b5;
    margin-right: 10px;
    vertical-align: middle;
}

.sobre {
    display: flex;
    padding: 80px 188px 80px 188px;
    justify-content: space-between;
    width: 1152px;
    height: 416px;
    justify-items: center;
}

.arvore {
    width: 544px;
    height: 416px;
}

.teste2 {
    width: 544px;
    height: 416px;
    line-height: 29px;

}

.arvore img {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 400px
}

.btn-historico {
    background: transparent;
    border: 1px solid #1a3c2a;
    color: #1a3c2a;
}

.destaques {
    display: inline-block;
    color: #7ee0b5;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.destaques::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #7ee0b5;
    margin-right: 10px;
    vertical-align: middle;
}

.destaques::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #7ee0b5;
    margin-left: 10px;
    vertical-align: middle;
}

.dimensoes {
    background-color: #F0F7F2;
    height: 692.48px;
    padding: 80px 188px 80px 188px;
}

.teste3 h2 {
    color: #1a3c2a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
}

.teste3 {
    text-align: center;
}

.container-layout img {
    width: 366px;
    height: 192px;


}

.container-layout {
    width: 368px;

    border-radius: 4px;
    border: 1px solid #f3f4f6;
    padding: 118.8px;
}
.card {
    width: 368px;
    height: 413.69px;
    background-color: #fff;
    border-radius: 8px;
}

.card-img {
    overflow: hidden;
}

.carrossel {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.conteudocard {
    background-color: #fff;
    color: #6a7282;
    line-height: 24.6px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 11px;
}

.conteudocard h3 {
    width: 178px;
    height: 26px;
    padding: -2px;
    color: #1a3c2a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16.8px;
    line-height: 25.2px;
}
.conhecimento{
    display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px 0;
}
.testecon{
    color: #1a3c2a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 80px;
}
.testecon p{
    color: #6a7282;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24.5px;
}
.btn-btn-quiz{
    background-color: #1a3c2a;
    border: 1px solid #1a3c2a;
    color: #ffffff;
    width: 156px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.margem{
    margin-top: 40px;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    background-color: #0f2318;
    height: 100%;
    margin: 0 auto;
    gap: 40px;
}
.icone-footer h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.icone-footer p{
    color:#889e93;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 26px;
}
.icone-footer{
    width: 532px;
    height: 223px;
    margin-left: 212px;
}
.navegacao-footer h2{
    color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   margin-bottom: 8px;
}
.navegacao-footer a{
    color: #889e93;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.navegacao-footer li{
    list-style: none;
   margin-bottom: 8px;
   padding: 4px;
}
.navegacao-footer{
    width: 246px;
    height: 223px;
}
.links h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
}
.links a{
    color: #889e93;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.links li{
    list-style: none;
    margin-bottom: 8px;
    padding: 4px;
}
.links{
    margin-right: 198px;
    width: 246px;
    height: 223px;
}